In [84]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [85]:
df = pd.read_csv('Bank Customer Churn Prediction.csv')

df

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

# EDA

In [86]:
df = df.drop(columns='customer_id')
df

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [87]:
df['country'].value_counts()

country
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [88]:
df = pd.get_dummies(df, columns=['country'], dtype='int')
df

,credit_score,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn,country_France,country_Germany,country_Spain
0,619,Female,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,Female,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,Female,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,Female,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,Male,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,Male,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,Female,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,Male,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,Female,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [89]:
size_mapping = {'Male':0, 'Female':1, }
df['gender'] = df['gender'].replace(size_mapping)
df

C:\Users\admin\AppData\Local\Temp\ipykernel_8360\1306303817.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'] = df['gender'].replace(size_mapping)

,credit_score,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn,country_France,country_Germany,country_Spain
0,619,1,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,1,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,1,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,1,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,0,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,1,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,0,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,1,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [90]:
y = df['churn']
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: churn, Length: 10000, dtype: int64

In [91]:
x = df.drop(['churn'], axis=1)
x.columns

Index(['credit_score', 'gender', 'age', 'tenure', 'balance', 'products_number',
       'credit_card', 'active_member', 'estimated_salary', 'country_France',
       'country_Germany', 'country_Spain'],
      dtype='object')

# Without SMOTE

In [92]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((7000, 12), (3000, 12), (7000,), (3000,))

In [93]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_curve, auc
import matplotlib.pyplot as plt
import seaborn as sns

print(df)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)
X_train_scaled, X_test_scaled

      credit_score  gender  age  tenure    balance  products_number  \
0              619       1   42       2       0.00                1
1              608       1   41       1   83807.86                1
2              502       1   42       8  159660.80                3
3              699       1   39       1       0.00                2
4              850       1   43       2  125510.82                1
...            ...     ...  ...     ...        ...              ...
9995           771       0   39       5       0.00                2
9996           516       0   35      10   57369.61                1
9997           709       1   36       7       0.00                1
9998           772       0   42       3   75075.31                2
9999           792       1   28       4  130142.79                1

      credit_card  active_member  estimated_salary  churn  country_France  \
0               1              1         101348.88      1               1
1               0              1         112542.58      0               0
2               1              0         113931.57      1               1
3               0              0          93826.63      0               1
4               1              1          79084.10      0               0
...           ...            ...               ...    ...             ...
9995            1              0          96270.64      0               1
9996            1              1         101699.77      0               1
9997            0              1          42085.58      1               1
9998            1              0          92888.52      1               0
9999            1              0          38190.78      0               1

      country_Germany  country_Spain
0                   0              0
1                   0              1
2                   0              0
3                   0              0
4                   0              1
...               ...            ...
9995                0              0
9996                0              0
9997                0              0
9998                1              0
9999                0              0

[10000 rows x 13 columns]

(array([[-0.34459497,  1.09823226, -0.65674999, ..., -1.00171576,
         -0.57559072,  1.73073215],
        [-0.09518109,  1.09823226, -0.46637979, ..., -1.00171576,
          1.73734559, -0.57779016],
        [-0.94734518, -0.91055421, -0.56156489, ...,  0.99828718,
         -0.57559072, -0.57779016],
        ...,
        [ 0.86090545,  1.09823226, -0.08563939, ...,  0.99828718,
         -0.57559072, -0.57779016],
        [ 0.15423279, -0.91055421,  0.39028611, ...,  0.99828718,
         -0.57559072, -0.57779016],
        [ 0.46600014, -0.91055421,  1.1517669 , ..., -1.00171576,
          1.73734559, -0.57779016]]),
 array([[-0.5836166 , -0.91055421, -0.65674999, ..., -1.00171576,
          1.73734559, -0.57779016],
        [-0.30302599, -0.91055421,  0.39028611, ...,  0.99828718,
         -0.57559072, -0.57779016],
        [-0.53165538,  1.09823226,  0.48547121, ..., -1.00171576,
         -0.57559072,  1.73073215],
        ...,
        [-0.44851742, -0.91055421, -0.65674999, ...,  0.99828718,
         -0.57559072, -0.57779016],
        [-0.74989252, -0.91055421, -0.75193509, ...,  0.99828718,
         -0.57559072, -0.57779016],
        [-1.23832804,  1.09823226, -1.60860099, ..., -1.00171576,
          1.73734559, -0.57779016]]))

In [94]:
y_train

9069    1
2603    0
7738    0
1579    0
5058    0
       ..
5734    0
5191    0
5390    1
860     1
7270    0
Name: churn, Length: 7000, dtype: int64

In [95]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)

In [96]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("confusion_matrix\n",conf_matrix)

Accuracy: 0.8113333333333334
Precision: 0.5420560747663551
Recall: 0.19863013698630136
F1 Score: 0.2907268170426065
confusion_matrix
 [[2318   98]
 [ 468  116]]

In [97]:
from sklearn.svm import SVC

svc_model = SVC(kernel='poly',probability=True,random_state=42)
svc_model.fit(X_train_scaled, y_train)

y_svc_pred = svc_model.predict(X_test_scaled)

In [98]:
accuracy = accuracy_score(y_test, y_svc_pred)
precision = precision_score(y_test, y_svc_pred)
recall = recall_score(y_test, y_svc_pred)
f1 = f1_score(y_test, y_svc_pred)
conf_svc_matrix = confusion_matrix(y_test, y_svc_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("confusion_matrix\n",conf_svc_matrix)

Accuracy: 0.8616666666666667
Precision: 0.83399209486166
Recall: 0.3613013698630137
F1 Score: 0.5041816009557945
confusion_matrix
 [[2374   42]
 [ 373  211]]

In [99]:
from sklearn.model_selection import KFold, cross_val_score, StratifiedKFold
from sklearn.metrics import accuracy_score, classification_report

In [100]:
kf = KFold(n_splits=10, shuffle=True, random_state=42)

In [101]:
cross_val_acc = cross_val_score(model, X_train_scaled, y_train, cv=kf)

print(cross_val_acc)

[0.82285714 0.81714286 0.80571429 0.79571429 0.81142857 0.82
 0.79142857 0.80571429 0.82142857 0.80285714]

In [102]:
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

cross_val_acc = cross_val_score(model, X_train_scaled, y_train, cv=kf)

print(cross_val_acc)

[0.82285714 0.81714286 0.80571429 0.79571429 0.81142857 0.82
 0.79142857 0.80571429 0.82142857 0.80285714]

In [103]:
x_train_scaled = pd.DataFrame(X_train_scaled)
x_train_scaled

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.344595,1.098232,-0.656750,-0.342170,1.583725,0.819663,0.645981,0.970714,1.248214,-1.001716,-0.575591,1.730732
1,-0.095181,1.098232,-0.466380,0.698162,1.344106,-0.903352,-1.548034,0.970714,1.521225,-1.001716,1.737346,-0.577790
2,-0.947345,-0.910554,-0.561565,0.351385,-1.222055,0.819663,-1.548034,-1.030169,1.263615,0.998287,-0.575591,-0.577790
3,-0.354987,-0.910554,0.199916,1.044940,-0.618965,-0.903352,0.645981,0.970714,1.646839,-1.001716,1.737346,-0.577790
4,0.642668,-0.910554,-0.180824,1.391718,1.152808,0.819663,-1.548034,0.970714,0.875112,0.998287,-0.575591,-0.577790
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,1.203850,-0.910554,1.437322,1.044940,-0.106936,-0.903352,0.645981,0.970714,-0.545387,0.998287,-0.575591,-0.577790
6996,0.310116,1.098232,1.818063,-1.382503,-1.222055,-0.903352,0.645981,0.970714,-1.736501,0.998287,-0.575591,-0.577790
6997,0.860905,1.098232,-0.085639,-1.382503,-1.222055,2.542677,-1.548034,-1.030169,-0.149259,0.998287,-0.575591,-0.577790
6998,0.154233,-0.910554,0.390286,1.044940,1.820806,-0.903352,0.645981,-1.030169,-0.057544,0.998287,-0.575591,-0.577790
6999,0.466000,-0.910554,1.151767,-1.382503,1.143904,-0.903352,0.645981,0.970714,-0.819426,-1.001716,1.737346,-0.577790

In [104]:
y_train = pd.DataFrame(y_train)
y_train

      churn
9069      1
2603      0
7738      0
1579      0
5058      0
...     ...
5734      0
5191      0
5390      1
860       1
7270      0

[7000 rows x 1 columns]

In [105]:
fold = 1
for train_idx, test_idx in skf.split(x_train_scaled, y_train):
    X_train, X_test = x_train_scaled.iloc[train_idx], x_train_scaled.iloc[test_idx]
    y_trained, y_test = y_train.iloc[train_idx], y_train.iloc[test_idx]
    
    model.fit(X_train, y_trained)
    y_pred = model.predict(X_test)
    
    print(f"ðŸ“‚ Fold {fold} - Classification Report:")
    print(classification_report(y_test, y_pred))
    print("------------------------------------------------")
    fold +=1

ðŸ“‚ Fold 1 - Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.97      0.89       554
           1       0.65      0.24      0.35       146

    accuracy                           0.81       700
   macro avg       0.74      0.60      0.62       700
weighted avg       0.79      0.81      0.78       700

------------------------------------------------
ðŸ“‚ Fold 2 - Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.96      0.88       554
           1       0.53      0.17      0.26       146

    accuracy                           0.80       700
   macro avg       0.67      0.57      0.57       700
weighted avg       0.76      0.80      0.75       700

------------------------------------------------
ðŸ“‚ Fold 3 - Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.96      0.89       554
           1       0.59      0.21      0.30       146

    accuracy                           0.80       700
   macro avg       0.70      0.58      0.60       700
weighted avg       0.77      0.80      0.76       700

------------------------------------------------
ðŸ“‚ Fold 4 - Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.97      0.89       555
           1       0.61      0.21      0.31       145

    accuracy                           0.81       700
   macro avg       0.72      0.59      0.60       700
weighted avg       0.78      0.81      0.77       700

------------------------------------------------

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ðŸ“‚ Fold 5 - Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.96      0.89       555
           1       0.63      0.23      0.34       145

    accuracy                           0.81       700
   macro avg       0.73      0.60      0.62       700
weighted avg       0.79      0.81      0.78       700

------------------------------------------------
ðŸ“‚ Fold 6 - Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.96      0.88       555
           1       0.56      0.20      0.29       145

    accuracy                           0.80       700
   macro avg       0.69      0.58      0.59       700
weighted avg       0.77      0.80      0.76       700

------------------------------------------------
ðŸ“‚ Fold 7 - Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.96      0.89       555
           1       0.57      0.22      0.32       145

    accuracy                           0.80       700
   macro avg       0.70      0.59      0.60       700
weighted avg       0.77      0.80      0.77       700

------------------------------------------------
ðŸ“‚ Fold 8 - Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.97      0.90       555
           1       0.74      0.29      0.42       145

    accuracy                           0.83       700
   macro avg       0.79      0.63      0.66       700
weighted avg       0.82      0.83      0.80       700

------------------------------------------------
ðŸ“‚ Fold 9 - Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.96      0.88       555
           1       0.55      0.19      0.28       145

    accuracy                           0.80       700
   macro avg       0.68      0.57      0.58       700
weighted avg       0.76      0.80      0.76       700

------------------------------------------------
ðŸ“‚ Fold 10 - Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.96      0.89       555
           1       0.64      0.27      0.38       145

    accuracy                           0.82       700
   macro avg       0.74      0.61      0.64       700
weighted avg       0.79      0.82      0.79       700

------------------------------------------------

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# With SMOTE

In [106]:
from imblearn.over_sampling import SMOTE, ADASYN, SMOTEN
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42, stratify=y)

sm = SMOTEN( k_neighbors=20, random_state=42)
x_sampled, y_sampled = sm.fit_resample(x_train, y_train)
print(y_sampled.value_counts())
y_train.value_counts()

churn
1    5972
0    5972
Name: count, dtype: int64

churn
0    5972
1    1528
Name: count, dtype: int64

In [107]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_sampled)
x_test_scaled = scaler.transform(x_test)

x_train_scaled, x_test_scaled

(array([[ 0.99779864,  0.97127638,  1.28563063, ...,  1.05456777,
         -0.66128999, -0.52723798],
        [-1.01615685, -1.02957307, -0.27034094, ...,  1.05456777,
         -0.66128999, -0.52723798],
        [-0.51498821,  0.97127638,  1.38936207, ..., -0.9482558 ,
          1.51219588, -0.52723798],
        ...,
        [-1.31314568,  0.97127638,  0.87070488, ..., -0.9482558 ,
          1.51219588, -0.52723798],
        [-1.03471866,  0.97127638,  0.76697344, ..., -0.9482558 ,
          1.51219588, -0.52723798],
        [-1.37811199, -1.02957307,  0.04085337, ..., -0.9482558 ,
          1.51219588, -0.52723798]]),
 array([[ 0.06970855,  0.97127638, -0.68526669, ..., -0.9482558 ,
         -0.66128999,  1.89667673],
        [ 1.20197846, -1.02957307, -1.10019244, ..., -0.9482558 ,
         -0.66128999,  1.89667673],
        [ 0.31101197,  0.97127638, -0.58153525, ..., -0.9482558 ,
          1.51219588, -0.52723798],
        ...,
        [-0.66348262,  0.97127638,  1.07816775, ...,  1.05456777,
         -0.66128999, -0.52723798],
        [ 0.13467485,  0.97127638,  1.4930935 , ...,  1.05456777,
         -0.66128999, -0.52723798],
        [ 0.6636862 , -1.02957307, -0.47780382, ..., -0.9482558 ,
          1.51219588, -0.52723798]]))

In [108]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score,cross_val_predict
from sklearn.metrics import accuracy_score, classification_report

logistic_model = LogisticRegression()
kf = KFold(n_splits=5, shuffle=True, random_state=42)

scores = cross_val_score(logistic_model, x_train_scaled, y_sampled, cv=kf, scoring='accuracy')

print(f"Accuracy scores for each fold: {scores}")
print(f"Mean Accuracy: {np.mean(scores):.4f}")
print(f"Standard Deviation: {np.std(scores):.4f}")


x_sampled = pd.DataFrame(x_sampled)
y_train = pd.Series(y_train)
fold = 1
for train_idx, val_idx in kf.split(x_sampled, y_sampled):
    logistic_model.fit(x_sampled.iloc[train_idx], y_sampled.iloc[train_idx])
    y_val_pred = logistic_model.predict(x_sampled.iloc[val_idx])
    print(f"\nFold {fold} Classification Report:")
    print(classification_report(y_sampled.iloc[val_idx], y_val_pred))
    fold += 1

logistic_model.fit(x_sampled, y_sampled)
y_pred = logistic_model.predict(x_test_scaled)
print("Test Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy scores for each fold: [0.82796149 0.83298451 0.82628715 0.80410213 0.82160804]
Mean Accuracy: 0.8226
Standard Deviation: 0.0099

Fold 1 Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.79      0.81      1206
           1       0.79      0.83      0.81      1183

    accuracy                           0.81      2389
   macro avg       0.81      0.81      0.81      2389
weighted avg       0.81      0.81      0.81      2389


Fold 2 Classification Report:

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

              precision    recall  f1-score   support

           0       0.81      0.80      0.80      1194
           1       0.80      0.81      0.81      1195

    accuracy                           0.80      2389
   macro avg       0.80      0.80      0.80      2389
weighted avg       0.80      0.80      0.80      2389


Fold 3 Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.79      0.81      1230
           1       0.79      0.84      0.82      1159

    accuracy                           0.81      2389
   macro avg       0.82      0.82      0.81      2389
weighted avg       0.82      0.81      0.81      2389


Fold 4 Classification Report:

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

              precision    recall  f1-score   support

           0       0.79      0.77      0.78      1153
           1       0.79      0.81      0.80      1236

    accuracy                           0.79      2389
   macro avg       0.79      0.79      0.79      2389
weighted avg       0.79      0.79      0.79      2389


Fold 5 Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.77      0.79      1189
           1       0.78      0.84      0.81      1199

    accuracy                           0.80      2388
   macro avg       0.80      0.80      0.80      2388
weighted avg       0.80      0.80      0.80      2388

Test Accuracy: 0.6748
              precision    recall  f1-score   support

           0       0.87      0.70      0.77      1991
           1       0.33      0.59      0.42       509

    accuracy                           0.67      2500
   macro avg       0.60      0.64      0.60      2500
weighted avg       0.76      0.67      0.70      2500

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [109]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.70      0.77      1991
           1       0.33      0.59      0.42       509

    accuracy                           0.67      2500
   macro avg       0.60      0.64      0.60      2500
weighted avg       0.76      0.67      0.70      2500

In [110]:
from sklearn.neighbors import KNeighborsClassifier


knn_model = KNeighborsClassifier(n_neighbors=5)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_val_score(knn_model, x_train_scaled, y_sampled, cv=kf, scoring='accuracy')

print(f"Accuracy scores for each fold: {scores}")
print(f"Mean Accuracy: {np.mean(scores):.4f}")
print(f"Standard Deviation: {np.std(scores):.4f}")


x_train_scaled = pd.DataFrame(x_train_scaled)
y_train = pd.Series(y_train)
fold = 1
for train_idx, val_idx in kf.split(x_train_scaled, y_sampled):
    knn_model.fit(x_train_scaled.iloc[train_idx], y_sampled.iloc[train_idx])
    y_val_pred = knn_model.predict(x_train_scaled.iloc[val_idx])
    print(f"\nFold {fold} Classification Report:")
    print(classification_report(y_sampled.iloc[val_idx], y_val_pred))
    fold += 1

knn_model.fit(x_train_scaled, y_sampled)
y_pred = knn_model.predict(x_test_scaled)
print("Test Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy scores for each fold: [0.87316869 0.87902888 0.88195898 0.85893679 0.87102178]
Mean Accuracy: 0.8728
Standard Deviation: 0.0080

Fold 1 Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.91      0.88      1206
           1       0.90      0.84      0.87      1183

    accuracy                           0.87      2389
   macro avg       0.87      0.87      0.87      2389
weighted avg       0.87      0.87      0.87      2389


Fold 2 Classification Report:
              precision    recall  f1-score   support

           0       0.86      0.91      0.88      1194
           1       0.90      0.85      0.88      1195

    accuracy                           0.88      2389
   macro avg       0.88      0.88      0.88      2389
weighted avg       0.88      0.88      0.88      2389


Fold 3 Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.90      0.89      1230
           1       0.89      0.87      0.88      1159

    accuracy                           0.88      2389
   macro avg       0.88      0.88      0.88      2389
weighted avg       0.88      0.88      0.88      2389


Fold 4 Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.89      0.86      1153
           1       0.89      0.83      0.86      1236

    accuracy                           0.86      2389
   macro avg       0.86      0.86      0.86      2389
weighted avg       0.86      0.86      0.86      2389


Fold 5 Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.90      0.87      1189
           1       0.89      0.85      0.87      1199

    accuracy                           0.87      2388
   macro avg       0.87      0.87      0.87      2388
weighted avg       0.87      0.87      0.87      2388

Test Accuracy: 0.8044
              precision    recall  f1-score   support

           0       0.86      0.90      0.88      1991
           1       0.52      0.45      0.48       509

    accuracy                           0.80      2500
   macro avg       0.69      0.67      0.68      2500
weighted avg       0.79      0.80      0.80      2500

In [113]:

from sklearn.svm import SVC

svc_model = SVC(kernel='rbf', random_state=42)
skf = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_val_score(svc_model, x_train_scaled, y_sampled, cv=kf, scoring='accuracy')

print(f"Accuracy scores for each fold: {scores}")
print(f"Mean Accuracy: {np.mean(scores):.4f}")
print(f"Standard Deviation: {np.std(scores):.4f}")



svc_model.fit(x_train_scaled, y_sampled)
y_pred = svc_model.predict(x_test_scaled)
print("Test Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy scores for each fold: [0.89995814 0.89870239 0.89786522 0.8756802  0.89237856]
Mean Accuracy: 0.8929
Standard Deviation: 0.0090
Test Accuracy: 0.8444
              precision    recall  f1-score   support

           0       0.88      0.94      0.91      1991
           1       0.66      0.48      0.56       509

    accuracy                           0.84      2500
   macro avg       0.77      0.71      0.73      2500
weighted avg       0.83      0.84      0.83      2500

In [112]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.94      0.91      1991
           1       0.66      0.48      0.56       509

    accuracy                           0.84      2500
   macro avg       0.77      0.71      0.73      2500
weighted avg       0.83      0.84      0.83      2500